WTTJ_EMAIL=your_email_here
WTTJ_PASSWORD=your_password_here
MISTRAL_API_KEY=your_key_here
TELEGRAM_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=TELEGRAM_CHAT_ID
GOOGLE_CREDENTIALS={"type":"service_account",...}
GOOGLE_SHEET_ID=your_sheet_id_here
